.loader-scene {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.623); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}
.loader-scene .loader {
  /* border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db; */
  width: 55px;
  height: 55px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  width: fit-content;
  height: fit-content;
}
.loader-scene .loader p {
    text-align: center;
    color: rgba(255, 255, 255, 0.384);
}
@keyframes spin {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}