* {
  font-family: 'Epilogue', sans-serif;
  /* font-family: "MyFont"; */
  transition: all 0.5s ease;
  box-sizing: border-box;
}
.span {
  width: fit-content;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  margin: auto;
  margin-top: 5px;
}
h3 {
  font-size: 20px;
  margin: 0;
  padding-top: 20px;
  font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
}
.middle {
  display: flex;
  width: 100%;
  margin: auto;
  background-color: aliceblue;
}
.middle .card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: aliceblue;
  width: 100%;
  /* margin: auto; */
  height: fit-content;
  max-height: fit-content;
  min-height: fit-content;
  padding: 35px;
  border: none;
}
.middle .card .cards {
  flex: 25%;
  background-color: white;
  box-shadow: rgba(141, 141, 155, 0.075) 0px 7px 29px 0px;
  border-radius: 30px;
  padding: 0 3px 0 3px;
  margin: 10px;
  max-width: fit-content;
  min-width: fit-content;
  padding-bottom: 15px;
  cursor: pointer;
}
.middle .card .cards:hover {
  box-shadow: rgba(151, 151, 151, 0.178) 0px 0px 15px 7px;
  /* transition-duration: 0.2s;
  transform: scale(1.01); */
}
.middle .card .cards .cards-inside .header {
  text-align: center;
  padding: 5px 23px 10px 23px;
  border: 1px solid rgba(0, 0, 0, 0.137);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.middle .card .cards .cards-inside .body {
  padding: 12px;
  font-size: 12px;
  /* border: 1px solid rgba(0, 0, 0, 0.164);
  border-top: 0;
  border-left: 0;
  border-right: 0; */
}
.middle .card .cards .cards-inside .run-stop {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.middle .card .cards .cards-inside .run-stop .change {
  width: fit-content;
  background-color: white;
  color: #11823b;
  border-radius: 5px;
  text-align: center;
  width: 60%;
  border: 1px solid #11823b;
  cursor: pointer;
}
.middle .card .cards .cards-inside .run-stop .change p {
  padding: 12px;
  text-align: left;
}
.middle .card .cards .cards-inside .run-stop .change:hover {
  background-color: #11823b;
  color: white;
  border: 1px solid #11823b;
}
.middle .card .cards .cards-inside .run-stop .change p {
  transition: all 0s ease;
}
.middle .card .cards .cards-inside .body div div {
  display: flex;
  align-items: center;
}
.middle .card .cards .cards-inside .body div div p {
  font-weight: 600;
  margin: 5px 0 5px 0;
  font-size: 13px;
}
.middle .card .cards .cards-inside .body div div span {
  margin-left: 5px;
}
.middle .add-project {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
.middle .add-project .change {
  width: fit-content;
  color: #11823b;
  /* border-radius: 5px; */
  text-align: left;
  cursor: pointer;
}
.middle .add-project .change p {
  font-size: 12px;
  padding: 8px 12px;  
}
.middle .add-project .change p {
  transition: all 0s ease;
}
.middle .pop-up-card {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.middle .pop-up-card .cards-card {
  background-color: rgb(215, 229, 250);
  text-align: center;
  /* position: relative; */
  color: black;
  display: block;
  width: fit-content;
  height: fit-content;
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 15px;
  /* border: 1px solid #888; */
  border-radius: 5px;
}
.middle .pop-up-card .cards-card .body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.middle .pop-up-card .cards-card .items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: aliceblue;
  margin: 5px;
  border-radius: 5px;
}
.middle .pop-up-card .cards-card .items .head {
  width: 100%;
  text-align: left;
  /* padding: 5px 10px 15px 10px; */
  padding-bottom: 5px;
  border: 1px solid rgb(70, 150, 117);
  border-width: 0;
  border-bottom-width: 1px;
}
.middle .pop-up-card .cards-card .items div {
  width: 100%;
  margin: 10px 0;
  padding: 0 15px;
}
.middle .pop-up-card .cards-card .inputs {
  display: grid;
  grid-template-columns: auto auto;
  background-color: aliceblue;
  margin: 5px;
  border-radius: 5px;
}
.middle .pop-up-card .cards-card .items .input label{
  margin-right: 5px;
  font-size: 15px
}
.middle .pop-up-card .cards-card .body .items .send {
  width: 100%;
  /* margin: 10px 0;
  margin: 0 15px 0 15px; */
}
.middle .pop-up-card .cards-card .body .items .send p {
  width: 100%;
  background-color: rgb(70, 150, 117);
  color: white;
  font-size: 14px;
  padding: 8px !important;
  border-radius: 5px;
  cursor: pointer;
}
/* .middle .card .cards .cards-inside .body div{
} */

/* @font-face {
  font-family: "MyFont";
  src: url('C:/Users/Harun/Desktop/DjangoCameraApp/front-end/src/css/Blaimim.ttf');
} */