* {
  font-family: 'Epilogue', sans-serif;
  transition: all 0.5s ease;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  cursor: pointer;
}
* a:hover {
  color: black;
}
* p {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
* textarea {
  resize: none;
}
span {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 600;
}
select {
  border: 1px solid #ada9a930;
}
input {
  border: 1px solid #ada9a930;
}